<%if flash[:error]%>
  <%=flash[:error]%>
<%end%>

"Viewing Party Application (Andra and Hady)"
<% if current_user %>
<%= button_to "Log Out", "/sessions/#{current_user.id}", method: :delete  %>
<%else %>
  <%= button_to "Create New User", "/register", method: :get %>
  <%=link_to "Login", login_path%>
<%end%>

<%if current_user_visitor == true %>

<%end%>

<%if current_user_registered == true%>
  <h2> List of existing Users and their emails </h2>
  <div id="email_addresses">
    <%User.where(role: [1, 2]).each do |user|%>
      <%=user.email%>
    <%end%>
  </div>
<%end%>


  <!--<div id="existing_users">
    <h2> Existing Users and Their Dashboards </h2>
    <%@users.each do |user|%>
    <p><%=user.name%> <%=link_to "#{user.name}'s Dashboard", "/users/#{user.id}"%> </p>
    <%end%>
  </div>-->